input:focus {
    outline-color: initial;
    background-image: initial;
    background-color: rgb(74, 8, 52) !important;
    border-color: rgb(213, 0, 143) !important;
}
input{
    color:#fff !important;
}


.card {
    background-color: rgb(24, 26, 27);
    border-color: rgba(140, 130, 115, 0.13);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    word-wrap: break-word;
}

.form-control {
    display: block;
    width: 94%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 20px;
}
input {
    color: rgb(232, 230, 227) !important;
    margin: 0;
    font-family: inherit;
}
/* .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
} */
/* .card-body.invalied{
    border: 1px solid red !important;
}
.card-body.invalied button.button{
    background: red;
    border: 1px solid red !important;
} */

.form-label {
    margin-bottom: 0.5rem;
}
form {
    display: block;
    margin-top: 0em;
}